.layout {
  position: relative;

  .page-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .page-content {
    margin-left: 280px;
    transition: all ease-out .4s;

    section {
      height: 800px;
      width: 100%;
      overflow: auto;
      padding: 20px 0px;
    }
  
    .section-members {
      background-color: #e9e9e9
    }
  
    .section-portfolio {
      background-color: #fff
    }
  
    .section-blog {
      background-color: #e9e9e9
    }

    &.narrow {
      margin-left: 80px;
      transition: all ease-out .4s;
    }


  }
}