@import '../../../theme.scss';

.layout {
  position: relative;

  /* Hamburger menu trigger */
  .menu {
    position: fixed;
    background: black;
    opacity: 0.4;
    padding: 12px;
    border-radius: 50%;
    top: 16px;
    left: 16px;
  }

  /* Sideba logical container */
  .sidebar-container {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 100%;
    color: #ffffff;
    background-image: linear-gradient(var(--PRIMARY_COLOR), var(--DARK_COLOR));
    transition: all .4s ease-out
	;

    .sidebar-toggle {
      display: flex;
      position: absolute;
      right: -12px;
      top: 84px;
      background-color: white;
      border-radius: 50%;
      transition: all .4s ease-out;
      cursor: pointer;
      
      &.icon-left {
        transform: rotate(-180deg);
      }
    }

    &.narrow {
      display: flex;
      align-items: center;
      width: 80px;
      background-image: none;
  
      // .login {	
      //   display: none;
      //   justify-content: center;
      
      //   p {
      //     display: none
      //   }
      // }
    }

  }

  @media screen and (max-width: 992px) {
    .sidebar-container {
      &.narrow {
        display: none;
        background-color: transparent
      }
    }
  }
}