@import '../../../theme.scss';

.layout {
  position: relative;

  .sidebar-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 100%;
    color: #ffffff;
    background-image: linear-gradient(var(--PRIMARY_COLOR), var(--DARK_COLOR));
    transition: all .4s ease-out
	;

    .sidebar-toggle {
      display: flex;
      position: absolute;
      right: -12px;
      top: 84px;
      background-color: white;
      border-radius: 50%;
      transition: all .4s ease-out;
      cursor: pointer;
      
      &.icon-left {
        transform: rotate(-180deg);
      }
    }

    &.narrow {
      width: 80px;
  
      .login {	
        justify-content: center;
      
        p {
          display: none
        }
      }
    }

  }

  .page-content {
    margin-left: 280px;
    transition: all ease-out .4s;

    &.narrow {
      margin-left: 80px;
      transition: all ease-out .4s;
    }
  }
}