.card-list-container{
    display: flex;
    justify-content: space-around;
    padding: 25px 50px;
}

.MuiGrid-container{
    display: flex;
    justify-content: space-around;
    padding: 25px 50px;
}

.MuiGrid-item{
    margin-top: 75px;
}