.card-list-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;

	.card-wrapper {
		padding: 16px;
	}

	.card-wrapper:focus{
		outline: none;
	}

	.slider {
		display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(100vw - 180px);
    margin-left: 32px;
    margin-right: 32px;
	}
	
	.slick-slider {
		max-width: calc(100vw - 260px);
    // padding-left: 80px;
	}


}