.sidebar-menu {
	width: 280px;
	height: 100vh;
	color: #ffffff;
	background-image: linear-gradient(#490320, #000000);
	transition: all .4s ease-out
	;

	.sidebar-toggle {
		display: flex;
		position: absolute;
    right: -12px;
    top: 84px;
    background-color: white;
		border-radius: 50%;
		transition: all .4s ease-out;
		cursor: pointer;
		
		&.icon-left {
			transform: rotate(-180deg);
		}
	}

	.login{
		background: none;
		border: none;
		outline: none;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 20px;
		width: 100%;

		cursor:  pointer;
		border-top: 1px solid rgba(255,255,255, 0.2);
		border-bottom: 1px solid rgba(255,255,255, 0.2);

		p {
			color: #ffffff;
			margin: 0px;
		}
	}

	&.narrow {
		width: 80px;

		.login {	
			justify-content: center;
		
			p {
				display: none
			}
		}
	}
}
