.page {
  position: relative;
}

/* JUST FOR TESTING PALETTES */
.zero {
  width: 400px;
  height: 80px;
  background-color:var(--ZERORAY_COLOR)
}

.one {
 width: 400px;
 height: 80px;
 background-color:var(--PRIMARY_COLOR)
}

.two  {
  width: 400px;
 height: 80px;
 background-color:var(--SECONDARY_COLOR)

}

.three {
  width: 400px;
 height: 80px;
 background-color:var(--TERZARY_COLOR)

}

.four {
  width: 400px;
 height: 80px;
 background-color:var(--QUARTARY_COLOR)

}
