


.page {
  position: relative;

  .page-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .page-content {
    margin-left: 280px;
    transition: all ease-out .4s;

    section {
      height: 800px;
      width: 100%;

      border: 2px solid red;
    }
  
    .section-members {
      background-color: teal
    }
  
    .section-portfolio {
      background-color: orange
    }
  
    .section-blog {
      background-color: blue
    }

    &.narrow {
      margin-left: 80px;
      transition: all ease-out .4s;
    }


  }
}
