@import '../../theme.scss';

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 64px;
  background-size: cover;
  background-position: center;

  &:nth-child(even) {
    &.section-body {
      background-color: var(--THIRDARY_COLOR);
      color: var(--LIGHT_COLOR);
    }
  }

  &:nth-child(odd) {
    &.section-body {
      background-color: var(--LIGHT_COLOR);
      color: var(--DARK_COLOR);

      .head-button{
        button{
          color: var(--PRIMARY_COLOR)
        }
        rect{
          stroke: var(--PRIMARY_COLOR)
        }
      }
    }
  }  

  &:nth-child(1) {
    &.section-body {
      background-color: var(--LIGHT_COLOR);
      color: var(--LIGHT_COLOR);

      .head-button{
        button{
          color: var(--LIGHT_COLOR)
        }
        rect{
          stroke: var(--LIGHT_COLOR)
        }
      }
    }
  }  
}

@media screen and (max-width: 992px) {
  section {
    padding: 48px 10px;

    .header-section{
      h2{
        padding: 0px 15px;
      }
    }
  }
}