@import '../../theme.scss';

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 65px;
  padding-top: 5px;

  &:nth-child(even) {
    &.section-body {
      background-color: var(--THIRDARY_COLOR);
      color: var(--LIGHT_COLOR);
    }
  }

  &:nth-child(odd) {
    &.section-body {
      background-color: var(--LIGHT_COLOR);
      color: var(--DARK_COLOR);
    }
  }  
}

.section-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: url('https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  background-position: center;
}

.head-title{
  h2{
    color: var(--LIGHT_COLOR);
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5em;
  }
}

.head-content{
  display: flex;
  flex-direction: row;

  p{
    padding: 0px 50px;
    margin: 1em 0 0 0;
    color: var(--LIGHT_COLOR);
    font-size: 20px;
    text-align: center;
  }
}