:root {
  // TEMA 1 (CURRENT)
  --PRIMARY_COLOR: #490320;
  --SECONDARY_COLOR: #ad1f01;
  --THIRDARY_COLOR: #f6603e;
  --LIGHT_COLOR: #fff; // #e8e5e2;
  --GREY_COLOR: #ccc9c9; 
  --DARK_COLOR: #272a2c ;


  // TEMA 2
  // --PRIMARY_COLOR: #000a9c;
  // --SECONDARY_COLOR: #3747df;
  // --THIRDARY_COLOR: #3eb3f6;
  // --LIGHT_COLOR: #e8e5e2;
  // --DARK_COLOR: #272a2c ;

  
}